/* Custom CSS for anchor links */
.header-link {
  display: none;
  padding-left: 5px;
}
h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  display: inline-block;
}
